# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
# production
build
public
!web/public
.idea
# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# local development
.DS_Store
.envrc
*.env
*.dev