.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.7);
}

.mapboxgl-popup-content {
    background: rgba(255, 255, 255, 0.7);
}